
<div class="container">
  <div class="row">
       <div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="{{beer.image_url}}"
      alt="{{beer.name}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{beer.name}} {{beer.tagline}}</h5>
      <p class="card-text">{{beer.first_brewed}}</p>
      <p class="card-text">{{beer.brewers_tips}}</p>
      <p class="card-text">{{beer.contributed_by}}</p>
    </div>
  </div>
</div>
  </div>
</div>